@import "tailwindcss";
@source "../**";

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(30, 30, 30);
}

#root {
    height: 100%;
    width: 100%;
}